body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    width: 650px;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}
